<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Sua</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" href="{{ url_for('static', filename='images/sua-icon.png')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}" media="all"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>  
		<!-- <script src="assets/js/js-master.js"></script> -->
    </head>
	<body>
		<div class="master-body">
            <div class="single-view-screen">
                <div class="center-frame">
                    <div class="dashboard-navbar">
                        <div class="padding">
                            <div class="left-frame"></div>
                            <div class="middle-frame">
                                <img src="{{ url_for('static', filename='images/logo-white.png')}}" class="master-logo white">
                                <img src="{{ url_for('static', filename='images/logo-white.png')}}" class="master-logo dark">
                            </div>
                            <div class="right-frame"></div>
                        </div>
                    </div>
                    <div class="inner-frame">
                        <div class="text-align-center">
                            <h4 class="mb-60 header">
                                Click open <b>Sua</b> on the dialog shown by your browser.<br>
                                If you don't see a dialog, click <b>Launch Meeting</b> below.
                            </h4>
                            <button type="button" class="mt-48 btn primary" onclick="{{ sua }}">Launch Meeting</button>
                            <div class="tooltip-text mt-48">
                                Copyright &copy;2020 Sua, All Rights Reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var x = "{{ sua }}"
        setTimeout(() => window.open(x, '_self'), 1000);
    </script>
</html>

 