@font-face {
  font-family: markpro-bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: markpro;
  src: url(../fonts/MarkPro.otf); }
*, *::after, *::before {
  box-sizing: border-box; }

body, html {
  width: 100%;
  max-width: 100%;
  font-family: markpro;
  padding: 0px;
  margin: 0px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.clear {
  clear: both; }

@font-face {
  font-family: markpro-bold;
  src: url(../fonts/MarkPro-Bold.otf); }
@font-face {
  font-family: markpro;
  src: url(../fonts/MarkPro.otf); }
*, *::after, *::before {
  box-sizing: border-box; }

body, html {
  width: 100%;
  max-width: 100%;
  font-family: markpro;
  padding: 0px;
  margin: 0px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, div, span, table, tr, td, input, select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.clear {
  clear: both; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12.5px;
  margin-left: -12.5px; }

.col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-12,
.col-md-auto, .col-md-1, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 12.5px;
  padding-left: 12.5px; }

@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media (min-width: 992px) {
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
.d-flex {
  display: flex; }

.fd-col {
  flex-direction: column !important; }

.fd-row {
  flex-direction: row !important; }

.jc-between {
  justify-content: space-between; }

.jc-center {
  justify-content: center; }

.jc-end {
  justify-content: flex-end; }

.ml-auto {
  margin-left: auto !important; }

.ai-center {
  align-items: center; }

.ai-end {
  align-items: flex-end !important; }

.mt-24 {
  margin-top: 24px; }

.mt-48 {
  margin-top: 48px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

.mt-5,
.my-5 {
  margin-top: 1.25rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 1.25rem !important; }

.mr-24 {
  margin-right: 24px; }

.pd-all-40 {
  padding: 40px; }

.flex-center {
  display: flex;
  flex-direction: column; }

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.25rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: -.5px;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2rem; }

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.325rem + 0.9vw); } }
h2, .h2 {
  font-size: 1.75rem; }

@media (max-width: 1200px) {
  h2, .h2 {
    font-size: calc(1.3rem + 0.6vw); } }
h3, .h3 {
  font-size: 1.5rem; }

@media (max-width: 1200px) {
  h3, .h3 {
    font-size: calc(1.275rem + 0.3vw); } }
h4, .h4 {
  font-size: 1.35rem; }

@media (max-width: 1200px) {
  h4, .h4 {
    font-size: calc(1.26rem + 0.12vw); } }
h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1.175rem; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; } }
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px; } }
.tooltip-text {
  font-size: 12px;
  color: #667fad; }
  .tooltip-text span {
    color: #d81b47; }

.font-bold {
  font-family: markpro-bold; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.text-align-center {
  text-align: center;
  align-self: center; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all .4s ease-out; }
  .modal.active {
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    transform: translateY(0);
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
  .modal .modal-dialog {
    margin: 2rem auto; }
    .modal .modal-dialog.modal-dialog-centered {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: calc(100% - 3.5rem); }
  .modal .modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background: #fff;
    color: #23272B; }
    .modal .modal-content.black {
      background: #0e1826;
      color: #fff; }
    .modal .modal-content .modal-header {
      justify-content: space-between;
      padding: 1.5rem 1.75rem;
      align-items: center;
      border-bottom: 1px solid #1b2e4b;
      display: flex; }
      .modal .modal-content .modal-header .modal-title {
        margin-bottom: 0;
        line-height: 1.5; }
      .modal .modal-content .modal-header .close-button {
        font-size: 25px;
        cursor: pointer;
        opacity: .4;
        transition: all .32s ease-out; }
        .modal .modal-content .modal-header .close-button:hover {
          opacity: 1;
          transition: all .2s ease-out; }
    .modal .modal-content .modal-body {
      position: relative;
      flex: 1 1 auto;
      padding: 1.75rem; }
    .modal .modal-content .modal-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding: 1.5rem;
      border-top: 1px solid #1b2e4b; }
      .modal .modal-content .modal-footer > * {
        margin: 0.25rem; }

.form-group {
  margin-bottom: 1.75rem; }
  .form-group label {
    font-size: 1rem;
    display: block; }
  .form-group .form-control {
    display: block;
    width: 100%;
    background-clip: padding-box;
    font-family: markpro;
    border: none;
    border: 1px solid #1b2e4b;
    font-size: 16px;
    padding: 10px 12px;
    outline: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff; }
    .form-group .form-control.solid {
      background: #1b2e4b; }

.separator {
  height: 0; }
  .separator.separator-dashed {
    border-bottom: 1px dashed #1b2e4b; }

.btn-1 {
  border-radius: 10px;
  padding: 18px 42px;
  font-family: markpro-bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-1.primary {
    background-color: #d81b47;
    box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
    color: #fff; }
  .btn-1:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  @media (min-width: 680px) and (max-width: 1080px) {
    .btn-1 {
      padding: 18px 20px;
      font-size: 18px;
      line-height: 100%;
      overflow-wrap: anywhere; } }

.btn-2 {
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(43, 39, 49, 0.25);
  background: #fff;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all .32s ease-out; }
  .btn-2:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  .btn-2 img {
    width: 80%; }
  .btn-2.facebook {
    background: #3B5598; }
  .btn-2.google {
    background: #fff; }

.input-frame-1 {
  position: relative;
  margin-bottom: 25px; }
  .input-frame-1 .title {
    font-family: markpro;
    letter-spacing: 3.2px;
    font-size: 12px;
    color: #667fad;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .input-frame-1 .input {
    width: 100%;
    border: none;
    background: none;
    font-size: 18px;
    padding: 10px 0;
    outline: none;
    font-family: markpro-bold;
    border-bottom: 1px solid #dadada; }
    .input-frame-1 .input.large {
      font-size: 28px;
      padding-top: 25px; }
  .input-frame-1.black {
    color: #fff; }

.input-frame-2 {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 15px; }
  .input-frame-2.border-bottom {
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15); }
  .input-frame-2 .title {
    font-family: markpro;
    letter-spacing: 3.2px;
    font-size: 12px;
    color: #667fad;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px; }
  .input-frame-2 .input {
    width: calc(100% - 24px);
    font-family: markpro;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding: 10px 12px;
    outline: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff; }
    .input-frame-2 .input.large {
      height: 100px;
      resize: none; }

.select-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 17px; }

.select-frame {
  position: relative;
  font-family: markpro;
  margin: 0 10px; }
  .select-frame:last-child {
    margin-right: 0 !important; }
  .select-frame:first-child {
    margin-left: 0 !important; }
  .select-frame select {
    display: none;
    /*hide original SELECT element:*/ }
  .select-frame.sm-4 {
    max-width: calc((100% - 60px) / 4);
    flex-grow: 4; }
  .select-frame .select-selected {
    background-color: #1b2e4b; }
    .select-frame .select-selected:after {
      position: absolute;
      content: "";
      top: 18px;
      right: 16px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent; }
    .select-frame .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 18px; }
  .select-frame .select-items div,
  .select-frame .select-selected {
    color: #ffffff;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none; }
  .select-frame .select-selected {
    border-radius: 6px;
    display: flex; }
  .select-frame .select-items {
    position: absolute;
    background-color: #1b2e4b;
    top: 96%;
    left: 0;
    right: 0;
    z-index: 99;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all .2s ease-out;
    max-height: 250px;
    overflow-y: scroll;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .select-frame .select-items::-webkit-scrollbar {
      width: 5px;
      background: transparent; }
    .select-frame .select-items::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px; }
  .select-frame .select-hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all .32s ease-out; }
  .select-frame .select-items div:hover, .select-frame .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1); }

.radio-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 16px; }

.radio-frame {
  display: flex;
  position: relative;
  padding-left: 28px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .radio-frame input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .radio-frame .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: all .32s ease-out; }
  .radio-frame:hover input ~ .checkmark {
    transition: all .2s ease-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); }
  .radio-frame input:checked ~ .checkmark {
    background-color: #2196F3; }
  .radio-frame .checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s ease-out; }
  .radio-frame input:checked ~ .checkmark:after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: all .1s ease-out; }
  .radio-frame .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white; }

.form-small-group {
  display: flex;
  padding-right: 20px; }

.checkbox-parent-frame {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 10px; }

.checkbox-frame {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 16px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .checkbox-frame input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-frame .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #eee;
    transition: all .32s ease-out; }
  .checkbox-frame:hover input ~ .checkmark {
    transition: all .2s ease-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); }
  .checkbox-frame input:checked ~ .checkmark {
    background-color: #2196F3; }
  .checkbox-frame .checkmark:after {
    content: "";
    position: absolute;
    visibility: visible;
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s ease-out; }
  .checkbox-frame input:checked ~ .checkmark:after {
    visibility: visible;
    transform: scale(1) rotate(45deg);
    opacity: 1;
    transition: all .1s ease-out; }
  .checkbox-frame .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.btn {
  outline: none !important;
  text-align: center;
  padding: 0.65rem 1rem;
  border-radius: 6px;
  font-family: markpro-bold;
  font-size: 17px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all .32s ease-out; }
  .btn:hover {
    transform: scale(1.04) translateY(0px);
    transition: all .15s ease-in-out; }
  .btn.btn-s {
    padding-left: 40px;
    padding-right: 40px; }
  .btn.btn-xs {
    font-size: 15px;
    font-family: markpro;
    padding: 15px; }
  .btn.btn-xxs {
    font-size: 15px;
    font-family: markpro;
    padding: 15px 30px;
    display: inline-flex; }
  .btn.btn-l {
    min-width: 250px;
    max-width: 320px;
    text-align: center; }
  .btn.btn-fl {
    width: 100%;
    text-align: center; }
  .btn.white {
    background: #fff;
    color: #23272B;
    box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
  .btn.gray {
    color: #667fad; }
    .btn.gray i {
      font-size: 14px;
      transform: translateY(2px); }
  .btn.light-primary {
    color: #fff;
    background: #667fad; }
  .btn.primary {
    background: #d81b47;
    border-color: #d81b47;
    color: #fff;
    box-shadow: 0 6px 18px rgba(43, 39, 49, 0.25); }
  .btn.outline-white {
    border: 2px solid #fff;
    color: #fff; }
  .btn.outline-red {
    border: 2px solid #d81b47;
    color: #d81b47; }
  @media (min-width: 680px) and (max-width: 1080px) {
    .btn {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 16px; }
      .btn.btn-l {
        min-width: 120px; } }

.popup-overlay {
  background: #494b5a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all .3s ease-out; }
  .popup-overlay.active {
    opacity: .75;
    visibility: visible;
    transform: scale(1);
    transition: all .2s ease-out; }

.popup-master {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all .4s ease-out; }
  .popup-master.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
  .popup-master .body {
    align-items: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    align-content: center;
    width: 90%; }
    .popup-master .body.small {
      max-width: 500px; }
    .popup-master .body.medium {
      max-width: 700px;
      max-height: 82vh;
      overflow-y: scroll; }
      .popup-master .body.medium::-webkit-scrollbar {
        width: 6px;
        background: transparent; }
      .popup-master .body.medium::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px; }
    .popup-master .body .title-top {
      font-size: 32px;
      padding-top: 30px;
      padding-bottom: 30px;
      letter-spacing: -.5px; }
      .popup-master .body .title-top span {
        font-family: markpro-bold; }
    .popup-master .body .submit-button {
      display: flex;
      align-self: center; }
    .popup-master .body .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 25px;
      opacity: .4;
      cursor: pointer;
      transition: all .32s ease-out; }
      .popup-master .body .close-button:hover {
        opacity: 1;
        transition: all .2s ease-out; }
  .popup-master.black .body {
    background: #0e1826;
    color: #fff; }

.master-body {
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff; }
  .master-body.meeting-screen {
    background: #060818; }
  .master-body .login-screen {
    min-height: 100vh; }
    .master-body .login-screen .section-left {
      width: 60%;
      height: 100%;
      position: relative;
      float: left; }
      .master-body .login-screen .section-left .box-center {
        display: flex;
        height: 100vh;
        position: relative;
        align-items: center;
        justify-content: center; }
        .master-body .login-screen .section-left .box-center .content {
          flex: 1;
          max-width: 450px;
          height: 400px;
          position: relative; }
          .master-body .login-screen .section-left .box-center .content .logo-master {
            width: 170px;
            margin-left: -10px;
            margin-bottom: 40px; }
          .master-body .login-screen .section-left .box-center .content .title.big {
            font-size: 50px;
            color: #d81b47;
            line-height: 100%;
            letter-spacing: -1px;
            font-family: markpro-bold; }
          .master-body .login-screen .section-left .box-center .content .title.small {
            font-size: 20px;
            color: #667fad;
            margin-top: 15px;
            letter-spacing: -1px; }
          .master-body .login-screen .section-left .box-center .content .button-frame {
            margin-top: 50px;
            display: flex;
            align-items: center; }
            .master-body .login-screen .section-left .box-center .content .button-frame .btn-1,
            .master-body .login-screen .section-left .box-center .content .button-frame .btn-2 {
              margin-right: 24px; }
            @media (min-width: 680px) and (max-width: 1080px) {
              .master-body .login-screen .section-left .box-center .content .button-frame .btn-1,
              .master-body .login-screen .section-left .box-center .content .button-frame .btn-2 {
                margin-right: 16px; } }
          .master-body .login-screen .section-left .box-center .content .create-meeting-frame {
            position: absolute;
            top: 30%;
            height: 70%;
            background: #fff;
            padding: 0px 40px;
            margin-left: -40px;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100px);
            transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); }
            .master-body .login-screen .section-left .box-center .content .create-meeting-frame.active {
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
              transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
    .master-body .login-screen .section-right {
      float: left;
      position: relative;
      width: 40%;
      min-height: 100vh;
      background: #d81b47;
      border-top-left-radius: 54px;
      border-bottom-left-radius: 54px; }
      .master-body .login-screen .section-right .box-left {
        max-width: 550px;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .login-screen .section-right .box-left.hidden {
          visibility: hidden;
          transform: translateY(-100px);
          opacity: 0; }
      .master-body .login-screen .section-right .box-frame {
        position: relative;
        z-index: 3; }
        .master-body .login-screen .section-right .box-frame.login-button {
          max-width: 320px; }
        .master-body .login-screen .section-right .box-frame .bottom-text {
          width: 100%;
          text-align: center;
          transform: translateY(150px);
          font-family: markpro;
          font-size: 15px;
          color: #fff; }
      .master-body .login-screen .section-right .hidden-box {
        max-width: 550px;
        width: 100%;
        text-align: center;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index: 4;
        color: #fff;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1); }
        .master-body .login-screen .section-right .hidden-box .text-bottom {
          margin-top: 40px;
          font-family: markpro;
          font-size: 16px;
          opacity: 1;
          cursor: pointer;
          z-index: 2; }
        .master-body .login-screen .section-right .hidden-box.login-face {
          flex-direction: column; }
          .master-body .login-screen .section-right .hidden-box.login-face.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0); }
          .master-body .login-screen .section-right .hidden-box.login-face .camera-box {
            width: 320px;
            height: 320px;
            position: relative;
            z-index: 2;
            margin-top: 40px;
            border-radius: 58px;
            background: #fff;
            box-shadow: 0 6px 24px rgba(43, 39, 49, 0.2); }
          .master-body .login-screen .section-right .hidden-box.login-face .text {
            font-family: markpro-bold;
            z-index: 2;
            font-size: 20px; }
            .master-body .login-screen .section-right .hidden-box.login-face .text .small {
              font-family: markpro;
              font-size: 16px;
              opacity: .5; }
        .master-body .login-screen .section-right .hidden-box.login-userid {
          flex-direction: column;
          justify-content: center; }
          .master-body .login-screen .section-right .hidden-box.login-userid.active {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0); }
          .master-body .login-screen .section-right .hidden-box.login-userid .white-box {
            border-radius: 58px;
            width: 340px;
            min-height: 340px;
            z-index: 2;
            background: #fff;
            box-shadow: 0 6px 24px rgba(43, 39, 49, 0.2);
            color: #23272B; }
            .master-body .login-screen .section-right .hidden-box.login-userid .white-box .inner-padding {
              padding: 40px; }
        .master-body .login-screen .section-right .hidden-box .overlay-back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0; }
      .master-body .login-screen .section-right .accent-1 {
        bottom: -30px;
        right: -40px;
        opacity: .6; }
    @media (min-width: 680px) and (max-width: 1080px) {
      .master-body .login-screen {
        min-height: 500px; }
        .master-body .login-screen .section-left .box-center .content {
          height: auto;
          max-width: 75%;
          align-self: center; }
          .master-body .login-screen .section-left .box-center .content .logo-master {
            width: 100px; }
          .master-body .login-screen .section-left .box-center .content .title.big {
            font-size: 38px; }
          .master-body .login-screen .section-left .box-center .content .title.small {
            font-size: 17px; }
        .master-body .login-screen .section-right {
          display: flex;
          justify-content: center; }
          .master-body .login-screen .section-right .box-left {
            width: 80%;
            align-self: center; }
          .master-body .login-screen .section-right .hidden-box {
            width: 80%;
            left: 10%; }
            .master-body .login-screen .section-right .hidden-box .text-bottom {
              font-size: 13px; }
            .master-body .login-screen .section-right .hidden-box.login-face .camera-box {
              width: 250px;
              height: 250px;
              border-radius: 40px; }
            .master-body .login-screen .section-right .hidden-box.login-face .text {
              font-size: 17px; }
              .master-body .login-screen .section-right .hidden-box.login-face .text .small {
                font-size: 14px; }
            .master-body .login-screen .section-right .hidden-box.login-userid .white-box {
              border-radius: 40px;
              width: 100%;
              min-height: 250px; } }
  .master-body .login-screen-2 {
    min-height: 100vh;
    background: #060818; }
    .master-body .login-screen-2 .splash-frame {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .master-body .login-screen-2 .splash-frame .center {
        display: flex;
        flex-direction: column;
        max-width: 260px;
        width: calc(100% - 60px);
        padding: 0 30px;
        position: relative;
        transform: translateY(-10px); }
        .master-body .login-screen-2 .splash-frame .center .logo {
          margin-bottom: 30px;
          text-align: center; }
          .master-body .login-screen-2 .splash-frame .center .logo img {
            width: 60%; }
    .master-body .login-screen-2 .hidden-frame {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-50px);
      transition: all .32s ease-out;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-content: center;
      top: 0;
      left: 0;
      background: #060818; }
      .master-body .login-screen-2 .hidden-frame.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
      .master-body .login-screen-2 .hidden-frame.login {
        margin-top: 20px; }
      .master-body .login-screen-2 .hidden-frame .center {
        max-width: 550px;
        width: calc(100% - 60px);
        padding: 30px;
        align-self: center; }
        .master-body .login-screen-2 .hidden-frame .center .title {
          font-size: 28px;
          color: #fff;
          font-family: markpro-bold;
          margin-bottom: 20px; }
        .master-body .login-screen-2 .hidden-frame .center .d-flex {
          display: flex; }
        .master-body .login-screen-2 .hidden-frame .center .left-frame {
          flex-grow: 2.5;
          border-right: 1px solid #0e1826;
          position: relative;
          padding-right: 30px; }
        .master-body .login-screen-2 .hidden-frame .center .right-frame {
          position: relative;
          padding-left: 30px;
          display: flex; }
          .master-body .login-screen-2 .hidden-frame .center .right-frame .middle {
            align-self: flex-start; }
          .master-body .login-screen-2 .hidden-frame .center .right-frame .small-title {
            font-size: 14px;
            color: #667fad;
            padding-bottom: 20px; }
          .master-body .login-screen-2 .hidden-frame .center .right-frame .btn-2 {
            display: inline-flex;
            margin-right: 10px; }
    .master-body .login-screen-2 .accent-1 {
      bottom: -4vh;
      right: -4vw;
      opacity: .2; }
  .master-body .dashboard-screen {
    min-height: 100vh;
    position: relative; }
    .master-body .dashboard-screen .center-frame {
      max-width: 1400px;
      position: relative;
      margin: 0 auto;
      min-height: 100vh; }
      .master-body .dashboard-screen .center-frame .inner-frame {
        width: 100%;
        height: calc(100vh - 80px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .master-body .dashboard-screen .center-frame .inner-frame .middle-frame {
          height: 100px;
          width: 100%;
          max-width: 900px;
          display: flex; }
          .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in {
            flex: 1;
            align-items: center;
            justify-content: center;
            flex-direction: column; }
            .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame {
              display: flex;
              text-align: center;
              justify-content: center;
              position: relative; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .button-inner-frame {
                width: 90%;
                position: relative; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button {
                margin: 32px;
                float: left;
                cursor: pointer; }
                .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .icon {
                  width: 110px;
                  height: 110px;
                  border-radius: 24px;
                  background: #2B76EE;
                  box-shadow: 0 6px 18px rgba(43, 118, 238, 0.4);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1); }
                  .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .icon:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 8px 26px rgba(43, 118, 238, 0.7);
                    transition: all .2s ease-out; }
                  .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .icon.orange {
                    background: #FF742E;
                    box-shadow: 0 6px 18px rgba(255, 116, 46, 0.4);
                    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1); }
                  .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .icon.orange:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 8px 26px rgba(255, 116, 46, 0.7);
                    transition: all .2s ease-out; }
                  .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .icon img {
                    width: 50%; }
                .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.button-frame .dashboard-button .text {
                  padding-top: 20px; }
            .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              position: relative;
              letter-spacing: -0.5px; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame > .inner-padding {
                padding-left: 30px; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame .text-frame .title-big {
                font-size: 34px; }
                .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame .text-frame .title-big span {
                  font-family: markpro-bold; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame .text-frame .title-date {
                margin-top: 10px;
                color: #667fad;
                font-size: 18px; }
              .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame .reminder-box {
                min-height: 250px;
                min-width: 100%;
                border: 2px solid #D7D7D7;
                border-radius: 16px;
                position: relative;
                margin-top: 60px; }
                .master-body .dashboard-screen .center-frame .inner-frame .middle-frame .middle-frame-in.reminder-frame .reminder-box .empty-message {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #667fad; }
    .master-body .dashboard-screen.dark-theme {
      background: #060818; }
      .master-body .dashboard-screen.dark-theme .dashboard-button {
        color: #fff; }
        .master-body .dashboard-screen.dark-theme .dashboard-button .icon {
          box-shadow: 0 6px 18px rgba(55, 55, 55, 0.4) !important; }
          .master-body .dashboard-screen.dark-theme .dashboard-button .icon:hover {
            box-shadow: 0 8px 26px rgba(43, 118, 238, 0.4) !important; }
        .master-body .dashboard-screen.dark-theme .dashboard-button .icon.orange {
          box-shadow: 0 6px 18px rgba(55, 55, 55, 0.4) !important; }
          .master-body .dashboard-screen.dark-theme .dashboard-button .icon.orange:hover {
            box-shadow: 0 6px 18px rgba(255, 116, 46, 0.4) !important; }
      .master-body .dashboard-screen.dark-theme .reminder-frame {
        color: #fff; }
        .master-body .dashboard-screen.dark-theme .reminder-frame .title-date {
          color: #667fad; }
        .master-body .dashboard-screen.dark-theme .reminder-frame .reminder-box {
          border-color: #0e1826 !important; }
      .master-body .dashboard-screen.dark-theme .dashboard-navbar {
        background: #1a1c2d; }
        .master-body .dashboard-screen.dark-theme .dashboard-navbar .left-frame .master-logo.white {
          visibility: hidden;
          display: none; }
        .master-body .dashboard-screen.dark-theme .dashboard-navbar .left-frame .master-logo.dark {
          visibility: visible;
          display: block; }
        .master-body .dashboard-screen.dark-theme .dashboard-navbar .middle-frame .icon-box {
          color: #667fad; }
          .master-body .dashboard-screen.dark-theme .dashboard-navbar .middle-frame .icon-box:hover {
            color: #fff; }
        .master-body .dashboard-screen.dark-theme .dashboard-navbar .right-frame .status-dot {
          border-color: #1a1c2d; }
  .master-body .dashboard-navbar {
    width: calc(100% - 80px);
    height: 80px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
    background: #1a1c2d;
    display: flex;
    justify-content: space-between; }
    .master-body .dashboard-navbar > .padding {
      flex: 1;
      padding: 0 30px;
      display: flex;
      justify-content: space-between; }
    .master-body .dashboard-navbar .left-frame {
      position: relative;
      align-self: center;
      display: flex; }
    .master-body .dashboard-navbar .master-logo {
      width: 82px; }
      .master-body .dashboard-navbar .master-logo.dark {
        display: none; }
    .master-body .dashboard-navbar .middle-frame {
      position: relative;
      align-self: center;
      display: flex; }
      .master-body .dashboard-navbar .middle-frame .icon-box {
        margin: 0 20px;
        transition: all .6s ease-out;
        color: #667fad;
        cursor: pointer; }
        .master-body .dashboard-navbar .middle-frame .icon-box:hover {
          color: #23272B;
          transition: all .2s ease-out; }
          .master-body .dashboard-navbar .middle-frame .icon-box:hover .text {
            transform: translateY(4px);
            transition: all .2s ease-out; }
        .master-body .dashboard-navbar .middle-frame .icon-box .icon {
          width: 100%;
          text-align: center;
          margin-bottom: 8px; }
          .master-body .dashboard-navbar .middle-frame .icon-box .icon i {
            font-size: 20px; }
        .master-body .dashboard-navbar .middle-frame .icon-box .text {
          width: 100%;
          text-align: center;
          letter-spacing: -0.3px;
          font-size: 14px;
          transition: all .4s ease-out; }
    .master-body .dashboard-navbar .right-frame {
      position: relative;
      align-self: center;
      display: flex; }
      .master-body .dashboard-navbar .right-frame .profile-pict {
        position: relative; }
        .master-body .dashboard-navbar .right-frame .profile-pict img {
          width: 40px;
          height: 40px;
          border-radius: 12px;
          z-index: 1; }
        .master-body .dashboard-navbar .right-frame .profile-pict .status-dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          right: -5px;
          top: -5px;
          z-index: 2;
          border: 3px solid #f0f0f0; }
          .master-body .dashboard-navbar .right-frame .profile-pict .status-dot.green {
            background: #4CCC7D; }
  .master-body .meeting-screen {
    min-height: 100vh;
    position: relative;
    transition: all .32s ease-out;
    width: calc(100%); }
    .master-body .meeting-screen.sidebar-active {
      width: calc(100% - 320px);
      transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1); }
    .master-body .meeting-screen .top-screen-frame {
      width: 100%;
      height: calc(100vh - 88px);
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2; }
      .master-body .meeting-screen .top-screen-frame .top-button {
        position: absolute;
        right: 12px;
        top: 0;
        z-index: 3; }
        .master-body .meeting-screen .top-screen-frame .top-button .button-box {
          margin: 8px 2px;
          background: rgba(22, 22, 22, 0.7);
          border-radius: 6px;
          color: #fff;
          font-size: 13px;
          display: inline-flex;
          padding: 8px 15px;
          align-items: center;
          cursor: pointer;
          transition: all .4s ease-out;
          border: 1px solid #323338; }
          .master-body .meeting-screen .top-screen-frame .top-button .button-box:hover {
            background: rgba(22, 22, 22, 0.85);
            border-color: #4a4a4a;
            transition: all .2s ease-out; }
          .master-body .meeting-screen .top-screen-frame .top-button .button-box i {
            font-size: 14px;
            margin-right: 8px; }
      .master-body .meeting-screen .top-screen-frame .screen-counter {
        position: relative;
        z-index: 2; }
        .master-body .meeting-screen .top-screen-frame .screen-counter.two {
          flex-wrap: wrap;
          display: flex;
          order: 2; }
          .master-body .meeting-screen .top-screen-frame .screen-counter.two .screen-box {
            width: 40vw;
            height: 26vw; }
        .master-body .meeting-screen .top-screen-frame .screen-counter.four {
          max-width: 1080px;
          flex-wrap: wrap;
          display: flex;
          order: 2;
          justify-content: center; }
      .master-body .meeting-screen .top-screen-frame .screen-box {
        width: 34vw;
        height: 23vw;
        max-width: 440px;
        max-height: 340px;
        border-radius: 12px;
        overflow: hidden;
        margin: 12px;
        background: #667fad;
        position: relative; }
        .master-body .meeting-screen .top-screen-frame .screen-box .video-bg {
          width: 100%;
          height: 100%;
          z-index: 1;
          position: relative; }
          .master-body .meeting-screen .top-screen-frame .screen-box .video-bg .stock-image {
            width: 100%; }
        .master-body .meeting-screen .top-screen-frame .screen-box .caller-detail {
          font-size: 13px;
          max-width: 250px;
          display: inline-block;
          padding: 10px 20px;
          color: #fff;
          background: rgba(55, 55, 55, 0.75);
          position: absolute;
          z-index: 2;
          left: 0;
          bottom: 0;
          letter-spacing: -.5px;
          border-top-right-radius: 12px;
          border-bottom-left-radius: 12px; }
          .master-body .meeting-screen .top-screen-frame .screen-box .caller-detail i {
            margin-right: 5px;
            font-size: 13px; }
          .master-body .meeting-screen .top-screen-frame .screen-box .caller-detail.muted i {
            color: #d81b47; }
    .master-body .meeting-screen .bottom-nav-frame {
      width: calc(100% - 80px);
      height: 88px;
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      margin: 0 auto;
      position: relative;
      background: #1a1c2d;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-evenly;
      z-index: 3; }
      .master-body .meeting-screen .bottom-nav-frame > .padding {
        flex: 1;
        padding: 0 30px;
        display: flex;
        justify-content: space-between; }
      .master-body .meeting-screen .bottom-nav-frame .centering {
        position: relative;
        align-self: center;
        display: flex; }
      .master-body .meeting-screen .bottom-nav-frame .left-frame .smart-menu-trigger {
        width: 48px;
        height: 48px;
        box-shadow: 0px 0px 0px 5px rgba(255, 177, 41, 0.32);
        background: #FFB129;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 26px;
        margin-right: 10px; }
      .master-body .meeting-screen .bottom-nav-frame .button-nav-box {
        margin: 0 20px;
        transition: all .6s ease-out;
        color: #fff;
        cursor: pointer;
        position: relative; }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box:hover .text {
          opacity: 1;
          transform: translateY(4px);
          transition: all .2s ease-out; }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box.dropdown .dropdown-icon {
          position: absolute;
          top: 10%;
          right: 30%;
          font-size: 15px;
          opacity: .5;
          transform: translate(200%, -10%); }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box .icon-frame:nth-child(2) {
          display: none; }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box.sharescreen-toggle.active .icon-frame:nth-child(1) {
          display: none; }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box.sharescreen-toggle.active .icon-frame:nth-child(2) {
          display: block !important; }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box .icon {
          width: 100%;
          text-align: center;
          margin-bottom: 8px; }
          .master-body .meeting-screen .bottom-nav-frame .button-nav-box .icon i {
            margin: 0 4px;
            font-size: 18px;
            opacity: .8; }
            .master-body .meeting-screen .bottom-nav-frame .button-nav-box .icon i:hover {
              opacity: 1;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55); }
        .master-body .meeting-screen .bottom-nav-frame .button-nav-box .text {
          width: 100%;
          text-align: center;
          letter-spacing: -0.3px;
          font-size: 13.2px;
          transition: all .4s ease-out;
          opacity: .8; }
  .master-body .meeting-screen-sidebar {
    width: 320px;
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1a1c2d;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    transition: all .32s ease-out;
    transform: translateX(100%); }
    .master-body .meeting-screen-sidebar.active {
      transform: translateX(0%); }
    .master-body .meeting-screen-sidebar .header-title {
      padding-top: 30px;
      padding-bottom: 10px;
      position: relative; }
      .master-body .meeting-screen-sidebar .header-title .title {
        padding: 20px 0px;
        padding-right: 25px;
        font-family: markpro;
        display: inline-flex;
        color: #667fad; }
        .master-body .meeting-screen-sidebar .header-title .title.active {
          font-family: markpro-bold;
          color: #fff; }
        .master-body .meeting-screen-sidebar .header-title .title .number {
          display: inline-block;
          margin-left: 8px;
          color: #d81b47; }
          .master-body .meeting-screen-sidebar .header-title .title .number.participant {
            color: #667fad; }
    .master-body .meeting-screen-sidebar .body-content {
      position: relative;
      display: flex;
      height: 100%; }
      .master-body .meeting-screen-sidebar .body-content.chat {
        flex-direction: column;
        align-content: space-between; }
        .master-body .meeting-screen-sidebar .body-content.chat .conversation-frame {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          overflow-y: scroll; }
          .master-body .meeting-screen-sidebar .body-content.chat .conversation-frame::-webkit-scrollbar {
            width: 4px; }
          .master-body .meeting-screen-sidebar .body-content.chat .conversation-frame::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0); }
          .master-body .meeting-screen-sidebar .body-content.chat .conversation-frame::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.15);
            border-radius: 5px;
            opacity: 0; }
        .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble {
          position: relative;
          display: flex;
          margin: 10px 0px;
          width: 100%; }
          .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble .profile-pict img {
            width: 32px;
            border-radius: 6px; }
          .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble .chat-frame {
            padding: 0 10px;
            font-size: 14px; }
            .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble .chat-frame .username {
              color: #fff;
              font-family: markpro-bold; }
            .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble .chat-frame .chat-body {
              padding: 8px;
              background: #667fad;
              border-radius: 12px;
              border-top-left-radius: 2px;
              margin-top: 5px;
              display: inline-flex; }
            .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble .chat-frame .timestamp {
              color: #667fad;
              font-size: 11px;
              margin: 2px 5px;
              margin-bottom: 0;
              visibility: hidden;
              transform: translateX(-10px);
              opacity: 0;
              transition: all 0.2s ease-out; }
          .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble.sender {
            flex-direction: row-reverse; }
            .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble.sender .chat-frame {
              text-align: right;
              float: right; }
              .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble.sender .chat-frame .chat-body {
                text-align: right;
                border-radius: 12px;
                color: #23272B;
                background: #fff;
                border-top-right-radius: 2px; }
          .master-body .meeting-screen-sidebar .body-content.chat .chat-bubble:hover .timestamp {
            visibility: visible;
            opacity: 1;
            transition: all .1s ease-out;
            transform: translateX(0); }
      .master-body .meeting-screen-sidebar .body-content.participant {
        display: flex;
        position: relative;
        flex-direction: column; }
        .master-body .meeting-screen-sidebar .body-content.participant .participant-box {
          margin-bottom: 15px;
          position: relative;
          display: flex;
          align-content: center;
          justify-content: flex-start; }
          .master-body .meeting-screen-sidebar .body-content.participant .participant-box .img-box {
            width: 32px;
            height: 32px;
            border-radius: 6px;
            overflow: hidden; }
            .master-body .meeting-screen-sidebar .body-content.participant .participant-box .img-box img {
              width: 100%; }
          .master-body .meeting-screen-sidebar .body-content.participant .participant-box .title {
            font-size: 16px;
            font-family: markpro-bold;
            display: flex;
            color: #fff;
            padding-left: 10px;
            align-content: center; }
            .master-body .meeting-screen-sidebar .body-content.participant .participant-box .title div {
              display: inline-flex;
              align-items: center; }
      .master-body .meeting-screen-sidebar .body-content.chat, .master-body .meeting-screen-sidebar .body-content.participant {
        display: none; }
      .master-body .meeting-screen-sidebar .body-content.chat.active, .master-body .meeting-screen-sidebar .body-content.participant.active {
        display: flex; }
    .master-body .meeting-screen-sidebar .chat-message {
      width: 100%;
      padding: 20px 0; }
      .master-body .meeting-screen-sidebar .chat-message .body {
        padding: 10px 0px;
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background: #060818;
        padding: 10px; }
        .master-body .meeting-screen-sidebar .chat-message .body .upload-button {
          color: #667fad;
          padding-right: 10px;
          font-size: 16px;
          display: flex;
          width: 20px;
          align-items: center;
          justify-content: flex-start;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32); }
        .master-body .meeting-screen-sidebar .chat-message .body .submit-button {
          color: #fff;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          border-radius: 6px;
          background: #2B76EE;
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.32); }
      .master-body .meeting-screen-sidebar .chat-message .textarea {
        display: block;
        background: #060818;
        color: #fff;
        overflow: hidden;
        overflow-y: scroll;
        resize: none;
        padding: 5px;
        line-height: 20px;
        font-size: 15px;
        max-height: 80px;
        border-radius: 6px;
        width: 180px;
        outline: none; }
        .master-body .meeting-screen-sidebar .chat-message .textarea::-webkit-scrollbar {
          width: 4px; }
        .master-body .meeting-screen-sidebar .chat-message .textarea::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0); }
        .master-body .meeting-screen-sidebar .chat-message .textarea::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, 0.15);
          border-radius: 5px; }
        .master-body .meeting-screen-sidebar .chat-message .textarea:active {
          outline: none; }
      .master-body .meeting-screen-sidebar .chat-message span.textarea[contenteditable]:empty::before {
        content: 'Type your message';
        color: #888;
        display: inline-block;
        border-radius: 12px; }
    .master-body .meeting-screen-sidebar .sidebar-close {
      position: absolute;
      right: 12px;
      top: 12px;
      cursor: pointer;
      color: #667fad;
      font-size: 18px;
      transition: all .32s ease-out; }
      .master-body .meeting-screen-sidebar .sidebar-close:hover {
        color: #fff;
        transition: all .2s ease-out; }
  .master-body .single-view-screen {
    min-height: 100v	h;
    background: #060818;
    position: relative;
    color: #fff; }
    .master-body .single-view-screen .center-frame {
      width: 100%;
      position: relative;
      margin: 0 auto;
      min-height: 100vh; }
      .master-body .single-view-screen .center-frame .inner-frame {
        width: 100%;
        height: calc(100vh - 80px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
    .master-body .single-view-screen .register-page {
      display: block;
      width: 100%;
      max-width: 420px;
      padding: 0 20px; }
      .master-body .single-view-screen .register-page .header {
        margin-top: -20px; }
  .master-body .accent {
    position: absolute;
    z-index: 2; }
    .master-body .accent.accent-1 {
      width: 350px;
      height: 300px;
      background: url(../images/accent-1.png);
      background-size: cover; }
    @media (min-width: 680px) and (max-width: 1080px) {
      .master-body .accent.accent-1 {
        transform: scale(0.7);
        transform-origin: bottom right; } }

/*# sourceMappingURL=main.css.map */
